{
    "semi": false,
    "singleQuote": true,
    "printWidth": 200,
    "tabWidth": 4,
    "trailingComma": "none",
    "bracketSpacing": true,
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": false,
    "prettier.endOfLine": "auto",
    "editor.formatOnSave": false
}
